.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#Container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    width:750px;
}

#long-container{
    grid-column: span 2;
}

